:root {
  --highlight: #141926;
  --primary: #129fc0;
  --off-white: #f6f6f6;
  --sans: "Montserrat", sans-serif;
  --border-radius: 21px;
  --shadow: 0 2px 15px 0 rgb(0 0 0 / 9%);
}

body {
  font-family: var(--sans);
  margin: 0px;
  background-color: var(--off-white);
}

.nav {
  width: 100vw;
  height: 150px;
  background-color: var(--highlight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > .logo {
  width: 300px;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 42px;
}

.content {
  border-radius: 3px;
  box-shadow: var(--shadow);
  width: 900px;
  padding: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 42px;
  margin-bottom: 42px;
  background-color: var(--off-white);
}

.qr-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 42px;
  width: calc(900px - 42px);

  &__form {
    display: flex;
    flex-direction: column;
    gap: 21px;

    input {
      padding: 8px 15px;
      border-radius: var(--border-radius);
      border: 2px solid var(--primary);
      outline: none;
      width: 100%;
      transition: 0.5s ease-in-out;
      height: fit-content;

      &:focus {
        border: 2px solid var(--highlight);
      }
    }

    button {
      padding: 8px 15px;
      border-radius: var(--border-radius);
      height: fit-content;
      width: fit-content;
      border: 1px solid var(--primary);
      background-color: var(--primary);
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        border: 1px solid var(--highlight);
        background-color: var(--highlight);
      }
    }
  }

  &__qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 568px;
  }
}
